@charset "UTF-8";
body {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0;
  color: #ebd6c7;
}

.title {
  color: black;
  margin: 60px 0;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .title {
    font-size: 20px;
    margin: 32px 0;
  }
}

@media (max-width: 767px) {
  .title {
    margin: 15px 0;
    font-size: 20px;
  }
}

.btn {
  margin-top: 20px;
  width: 38%;
  font-size: 19px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .btn {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .btn {
    font-size: 12px;
    margin-top: 15px;
  }
}

a {
  text-decoration: none;
  color: #ebd6c7;
}

header {
  background: #93612e;
  width: 100%;
  position: fiexd;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0, 5s ease-in-out 0s;
}

header .h-inner {
  display: flex;
  height: 110px;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner {
    height: 80px;
  }
}

@media (max-width: 767px) {
  header .h-inner {
    height: 60px;
  }
}

header .h-inner .h-left {
  margin-right: auto;
  margin-left: 75px;
  display: flex;
}

@media (max-width: 767px) {
  header .h-inner .h-left {
    margin-left: auto;
  }
}

header .h-inner .h-left img {
  width: 65px;
  height: 65px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-left img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 767px) {
  header .h-inner .h-left img {
    width: 40px;
    height: 40px;
  }
}

header .h-inner .h-left .header_title {
  margin-left: 25px;
  margin-top: 20px;
  font-size: 30px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-left .header_title {
    margin-left: 20px;
    margin-top: 16px;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1087px) and (max-width: 767px) {
  header .h-inner .h-left .header_title {
    margin: 0;
  }
}

header .h-inner .h-right {
  margin-left: auto;
}

@media (max-width: 767px) {
  header .h-inner .h-right {
    display: none;
  }
}

header .h-inner .h-right .h-navs {
  padding-right: 30px;
}

header .h-inner .h-right .h-navs .h-nav {
  padding-right: 50px;
  display: inline-block;
  transition: all 0.5s ease-in-out 0s;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-right .h-navs .h-nav {
    padding-right: 15px;
  }
}

header .h-inner .h-right .h-navs .h-nav a {
  font-size: 13px;
}

header .h-inner .h-right .h-navs .dropdown {
  z-index: 200;
  display: none;
  background-color: #93612e;
  position: absolute;
  top: 65px;
  right: 0;
  width: 120px;
  padding: 10px 9px 10px 20px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-right .h-navs .dropdown {
    width: 74px;
  }
}

header .h-inner .h-right .h-navs .dropdown .d-item {
  width: 100%;
}

header .h-inner .h-right .h-navs .dropdown .d-item a {
  z-index: 200;
  color: #ebd6c7;
  display: block;
  padding: 10px 0;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-right .h-navs .dropdown .d-item a {
    font-size: 13px;
  }
}

.login_regist {
  font-size: 12px;
}

.logout {
  background-color: #93612e;
  color: #d6d6d6;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .logout {
    font-size: 12px;
    padding: 0;
  }
}

.vertical {
  writing-mode: vertical-rl;
  font-size: 50px;
  position: absolute;
  top: 23%;
  right: 190px;
  height: auto;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .vertical {
    font-size: 35px;
    top: 150px;
    right: 120px;
  }
}

@media (max-width: 767px) {
  .vertical {
    top: 12%;
    right: 15%;
    font-size: 24px;
  }
}

.swiper-slide {
  z-index: 0 !important;
  background-image: url("/img/m-top4.jpg");
  background-position: center;
  background-size: cover;
  height: 550px;
  width: 100%;
  min-width: 40%;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .swiper-slide {
    font-size: 20px;
    height: 400px;
  }
}

@media (max-width: 767px) {
  .swiper-slide {
    font-size: 10px;
    height: 230px;
  }
}

.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: #ffffff9e;
  opacity: 0.6;
  transition: all 0.5s ease-in-out 0s;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background: #2f7dc8;
  opacity: 1;
  transition: all 0.5s ease-in-out 0s;
}

.swiper-button-prev,
.swiper-button-next {
  width: 75px;
  height: 75px;
  z-index: 900;
  margin: -80px -30px;
  transition: all 0.5s ease-in-out 0s;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.side-main {
  overflow: hidden;
  color: black;
  display: flex;
  width: 100%;
  min-height: 500px;
  margin: 120px 0 85px 0;
}

@media (max-width: 767px) {
  .side-main {
    font-size: 15px;
    display: block;
  }
}

.side-main .s-head {
  font-size: 25px;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .side-main .s-head {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .side-main .s-head {
    font-size: 15px;
  }
}

.side-main a {
  color: black;
}

.side-main .s-container {
  width: 15%;
  margin: 10px 0 0 15px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .side-main .s-container {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .side-main .s-container {
    margin-top: 0;
    width: 100%;
  }
}

.side-main .s-container .category {
  margin-bottom: 10px;
}

.side-main .s-container .category .s-search {
  font-size: 15px;
  padding-top: 5px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .side-main .s-container .category .s-search {
    font-size: 13px;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .side-main .s-container .category .s-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -15%;
    font-size: 11px;
  }
}

.side-main .s-container .category .s-search li {
  margin-top: 15px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .side-main .s-container .category .s-search li {
    margin-top: 10px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .side-main .s-container .category .s-search li {
    margin: 3% 2% 0 0;
  }
}

.side-main .s-container .ser-box {
  margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .side-main .s-container .ser-box {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .side-main .s-container .ser-box {
    margin-top: 25px;
  }
}

.side-main .s-container .ser-box input {
  margin-top: 35px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .side-main .s-container .ser-box input {
    margin: 15px 0 0 0;
    width: 100px;
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .side-main .s-container .ser-box input {
    margin-top: 15px;
  }
}

.m-container {
  width: 85%;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .m-container {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .m-container {
    margin: 10% 0 0 15px;
    width: 100%;
  }
}

.m-container .items {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .m-container .items {
    margin: 0 0 0 3%;
  }
}

.m-container .items .item {
  width: calc(20% - 14px * 3 / 4);
  padding: 15px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .m-container .items .item {
    padding: 10px;
    width: calc(30% - 27px * 2 / 3);
  }
}

@media (max-width: 767px) {
  .m-container .items .item {
    padding: 5% 13% 0% 0%;
    width: calc(36% - 10px * 1 / 2);
  }
}

.m-container .items .item img {
  width: 100%;
}

.m-container .items .item .p-body {
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .m-container .items .item .p-body {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .m-container .items .item .p-body {
    margin-top: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1087px) {
  .m-container .items .item .p-body {
    font-size: 15px;
  }
}

.m-container .items .item .p-price {
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .m-container .items .item .p-price {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .m-container .items .item .p-price {
    font-size: 10px;
  }
}

.m-container .more {
  position: absolute;
  right: 5%;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .m-container .more {
    font-size: 14px;
    right: 11%;
  }
}

@media (max-width: 767px) {
  .category {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .form {
    margin-left: 3%;
  }
}

.search_btn {
  width: 20%;
  font-size: 15px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}

.div_contact {
  text-align: center;
  margin: 0 80px 0 auto;
}

@media (max-width: 767px) {
  .div_contact {
    margin: 0 auto 0 auto;
  }
}

@media (max-width: 767px) {
  .div_contact {
    margin: -5px auto 0 auto;
  }
}

.input_contact {
  width: 100%;
  font-size: 19px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .input_contact {
    margin-top: 8px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .input_contact {
    font-size: 12px;
  }
}

.search_btn {
  width: 75%;
  font-size: 15px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}

.div_contact {
  text-align: center;
  margin: 0 80px 0 auto;
}

.input_contact {
  width: 100%;
  font-size: 19px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .input_contact {
    margin-top: 8px;
    font-size: 12px;
  }
}

.search_input {
  width: 75%;
}

footer {
  height: 80px;
  background: #e5caae;
  color: #93612e;
}

@media (min-width: 768px) and (max-width: 1087px) {
  footer {
    height: 60px;
  }
}

@media (max-width: 767px) {
  footer {
    font-size: 20px;
  }
}

footer .f-container {
  display: flex;
  padding-top: 30px;
  margin-right: auto;
}

@media (min-width: 768px) and (max-width: 1087px) {
  footer .f-container {
    padding-top: 10px;
  }
}

footer .f-container .f-left {
  font-size: 20px;
  margin: 0 auto 0 80px;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1087px) {
  footer .f-container .f-left {
    font-size: 15px;
    margin: 12px auto 0 90px;
  }
}

@media (max-width: 767px) {
  footer .f-container .f-left {
    font-size: 17px;
    margin: 3px auto 0 auto;
  }
}

footer .f-container .f-right li {
  display: inline-block;
}

footer .f-container .f-right li .fab {
  cursor: pointer;
}
