$bg-sub-color: #e5caae;
$bg-base-color: #93612e;
//buttontext↓
$btn-base-color: #d6d6d6;
$font-base-color: #ebd6c7;
$font-sub-color: black;
$layout-width-inner: 1088px;

$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  "tab": "(max-width: #{$layout-width-inner - 1px})",
  "pc": "(min-width: #{$layout-width-inner})"
);

@mixin mq($breakpoint: md) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

body {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0;
  color: $font-base-color;
}
.title {
  color: $font-sub-color;
  margin: 60px 0;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  @include mq(tab-only) {
    font-size: 20px;
    margin: 32px 0;
  }
  @include mq(sp) {
    margin: 15px 0;
    font-size: 20px;
  }
}

.btn {
  margin-top: 20px;
  width: auto;
  font-size: 19px;
  cursor: pointer;
  background-color: $bg-base-color;
  color: $btn-base-color;
  @include mq(tab-only) {
    font-size: 12px;
  }
  @include mq(sp) {
    font-size: 12px;
    margin-top: 15px;
  }
}

a {
  text-decoration: none;
  color: $font-base-color;
}
//
//header
header {
  background: $bg-base-color;
  width: 100%;
  position: fiexd;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0, 5s ease-in-out 0s;

  .h-inner {
    display: flex;
    height: 110px;
    align-items: center;
    @include mq(tab-only) {
      height: 80px;
    }
    @include mq(sp) {
      height: 60px;
    }
    .h-left {
      margin-right: auto;
      margin-left: 75px;
      display: flex;
      @include mq(sp) {
        margin-left: auto;
      }
      img {
        width: 65px;
        height: 65px;
        @include mq(tab-only) {
          width: 50px;
          height: 50px;
        }
        @include mq(sp) {
          width: 45px;
          height: 45px;
        }
      }
      .header_title {
        margin-left: 25px;
        margin-top: 20px;
        font-size: 30px;
        @include mq(tab-only) {
          margin-left: 20px;
          margin-top: 16px;
          font-size: 18px;
        }
        @include mq(sp) {
          margin-left: 20px;
          margin-top: 13px;
          font-size: 20px;
        }
      }
    }
    .h-right {
      margin-left: auto;
      @include mq(sp) {
        display: none;
      }
      .h-navs {
        padding-right: 30px;
        .h-nav {
          padding-right: 50px;
          display: inline-block;
          transition: all 0.5s ease-in-out 0s;
          @include mq(tab-only) {
            padding-right: 15px;
          }
          a {
            font-size: 13px;
          }
        }
        .dropdown {
          z-index: 200;
          display: none;
          background-color: $bg-base-color;
          position: absolute;
          top: 90px;
          right: -11px;
          width: 120px;
          padding: 10px 9px 10px 20px;
          @include mq(tab-only) {
            right: 0px;
            width: 74px;
          }
          .d-item {
            width: 100%;
            a {
              z-index: 200;
              color: $font-base-color;
              display: block;
              padding: 10px 0;
              @include mq(tab-only) {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
.login_regist {
  font-size: 12px;
}
.logout {
  background-color: #93612e;
  color: #d6d6d6;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  @include mq(tab-only) {
    font-size: 12px;
  }
}
//mainvisual
//
.m-main img {
  width: 100%;
  height: 550px;
}
.vertical {
  writing-mode: vertical-rl;
  font-size: 50px;
  position: absolute;
  top: 23%;
  right: 190px;
  height: auto;
  @include mq(tab-only) {
    font-size: 35px;
    top: 45px;
    right: 120px;
  }
  @include mq(sp) {
    top: 30px;
    right: 15%;
    font-size: 24px;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 550px;
  width: 100%;
  min-width: 40%;
  @include mq(tab-only) {
    font-size: 20px;
    height: 400px;
  }
  @include mq(sp) {
    font-size: 10px;
    height: 230px;
  }
}
.swiper-pagination {
  width: 100%;
  text-align: center;
}

.swiper .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: #ffffff9e;
  opacity: 0.6;
  transition: all 0.5s ease-in-out 0s;
}
.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background: #2f7dc8;
  opacity: 1;
  transition: all 0.5s ease-in-out 0s;
}
.swiper-button-prev,
.swiper-button-next {
  z-index: 900;
  transition: all 0.5s ease-in-out 0s;
  background-color: transparent;
  // bottom:100px;
  &:after {
    content: "";
  }
}
//
//main
//
.side-main {
  overflow: hidden;
  color: $font-sub-color;
  display: flex;
  width: 100%;
  min-height: 500px;
  margin: 50px 0 85px 0;
  @include mq(tab-only) {
    // padding-left: 3%;
  }
  @include mq(sp) {
    font-size: 15px;
    display: block;
  }
  .s-head {
    font-size: 25px;
    font-weight: bold;
    @include mq(tab-only) {
      font-size: 20px;
    }
    @include mq(sp) {
      font-size: 15px;
      margin-left: 20px;
    }
  }
  a {
    color: $font-sub-color;
  }
  .s-container {
    width: 15%;
    margin: 10px 0 0 40px;
    @include mq(tab-only) {
      margin-top: 0;
    }
    @include mq(sp) {
      margin-top: 0;
      width: 100%;
    }
    .category {
      margin-bottom: 10px;
      .s-search {
        font-size: 15px;
        padding-top: 5px;
        @include mq(tab-only) {
          font-size: 13px;
          text-align: left;
        }
        @include mq(sp) {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-left: -15%;
          font-size: 11px;
        }
        li {
          margin-top: 15px;
          @include mq(tab-only) {
            margin-top: 10px;
            width: 100%;
          }
          @include mq(sp) {
            margin: 3% 2% 0 0;
          }
        }
      }
    }
    .ser-box {
      margin-top: 50px;
      @include mq(tab-only) {
        margin-top: 35px;
      }
      @include mq(sp) {
        margin-top: 25px;
      }
      input {
        margin-top: 35px;
        @include mq(tab-only) {
          margin: 15px 0 0 0;
          width: 100px;
          font-size: 10px;
        }
        @include mq(sp) {
          margin-top: 15px;
        }
      }
    }
  }
}
.m-container {
  width: 85%;
  @include mq(tab-only) {
    margin-left: 10px;
  }
  @include mq(sp) {
    margin: 10% 0 0 15px;
    width: 100%;
  }
  .items {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    @include mq(sp) {
      margin: 0 0 0 3%;
    }
    .item {
      width: calc(20% - 14px * 3 / 4);
      padding: 15px;
      @include mq(tab-only) {
        padding: 10px;
        width: calc(30% - 27px * 2 / 3);
      }
      @include mq(sp) {
        padding: 5% 13% 0% 0%;
        width: calc(36% - 10px * 1 / 2);
      }
      img {
        width: 100%;
        @include mq(sp) {
        }
      }
      .p-body {
        margin-top: 20px;
        @include mq(tab-only) {
          margin-top: 5px;
        }
        @include mq(sp) {
          margin-top: 5px;
        }
      }
      .p-body {
        @include mq(tab-only) {
          font-size: 15px;
        }
      }
      .p-price {
        padding-top: 5px;
        font-size: 20px;
        font-weight: bold;
        @include mq(tab-only) {
          font-size: 14px;
        }
        @include mq(sp) {
          font-size: 10px;
        }
      }
    }
  }
  .more {
    position: absolute;
    right: 5%;
    @include mq(tab-only) {
      font-size: 14px;
      right: 11%;
    }
  }
}
.category {
  @include mq(sp) {
    font-size: 10px;
  }
}
.form {
  @include mq(sp) {
    margin-left: 3%;
  }
}

.search_btn {
  // margin: 0;
  // margin-top: 5px;
  width: 20%;
  font-size: 15px;
  cursor: pointer;
  background-color: $bg-base-color;
  color: $btn-base-color;
}
.div_contact {
  text-align: center;
  margin: 0 80px 0 auto;
  @include mq(sp) {
    margin: 0 auto 0 auto;
  }
  @include mq(sp) {
    margin: -5px auto 0 auto;
  }
}
.input_contact {
  width: 100%;
  font-size: 19px;
  cursor: pointer;
  background-color: $bg-base-color;
  color: $btn-base-color;
  @include mq(tab-only) {
    margin-top: 8px;
    font-size: 12px;
  }
  @include mq(sp) {
    font-size: 12px;
  }
}

.search_btn {
  // margin: 0;
  // margin-top: 5px;
  width: 75%;
  font-size: 15px;
  cursor: pointer;
  background-color: $bg-base-color;
  color: $btn-base-color;
}
.div_contact {
  text-align: center;
  margin: 0 80px 0 auto;
}
.input_contact {
  width: 100%;
  font-size: 19px;
  cursor: pointer;
  background-color: $bg-base-color;
  color: $btn-base-color;
  @include mq(tab-only) {
    margin-top: 8px;
    font-size: 12px;
  }
}
.search_input {
  width: 75%;
}
//
//footerï
//

footer {
  height: 80px;
  background: #e5caae;
  color: $bg-base-color;
  @include mq(tab-only) {
    height: 60px;
  }
  @include mq(sp) {
    font-size: 20px;
  }
  .f-container {
    display: flex;
    padding-top: 25px;
    margin-right: auto;
    @include mq(tab-only) {
      padding-top: 10px;
    }
    .f-left {
      font-size: 20px;
      margin: 5px auto 0 80px;
      display: flex;
      @include mq(tab-only) {
        font-size: 15px;
        margin: 12px auto 0 90px;
      }
      @include mq(sp) {
        font-size: 17px;
        margin: 3px 60px 0;
      }
    }
    .f-right li {
      display: inline-block;
      .fab {
        cursor: pointer;
      }
    }
  }
}
.div_contact {
  text-align: center;
  margin: 0 80px 0 auto;
  @include mq(tab-only) {
    margin: 5px 80px 0px auto;
  }

  @include mq(sp) {
    margin: 0 60px 0 auto;
  }
}
.input_contact {
  width: 100%;
  font-size: 19px;
  cursor: pointer;
  background-color: $bg-base-color;
  color: $btn-base-color;
  @include mq(tab-only) {
    font-size: 16px;
  }

  @include mq(sp) {
    font-size: 14px;
  }
}

.div_price {
  margin-top: 30px;
}
