@charset "UTF-8";
body {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0;
  color: #ebd6c7;
}

.title {
  color: black;
  margin: 30px 0 20px;
  text-align: center;
  font-size: 30px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .title {
    font-size: 20px;
    margin: 32px 0;
  }
}

@media (max-width: 767px) {
  .title {
    margin: 15px 0;
    font-size: 20px;
  }
}

.btn {
  margin-top: 20px;
  width: 38%;
  font-size: 19px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .btn {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .btn {
    font-size: 12px;
    margin-top: 15px;
  }
}

a {
  text-decoration: none;
  color: #ebd6c7;
}

header {
  background: #93612e;
  width: 100%;
  position: fiexd;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0, 5s ease-in-out 0s;
}

header .h-inner {
  display: flex;
  height: 110px;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner {
    height: 80px;
  }
}

@media (max-width: 767px) {
  header .h-inner {
    height: 60px;
  }
}

header .h-inner .h-left {
  margin-right: auto;
  margin-left: 75px;
  display: flex;
}

@media (max-width: 767px) {
  header .h-inner .h-left {
    margin-left: auto;
  }
}

header .h-inner .h-left img {
  width: 65px;
  height: 65px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-left img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 767px) {
  header .h-inner .h-left img {
    width: 40px;
    height: 40px;
  }
}

header .h-inner .h-left .header_title {
  margin-left: 25px;
  margin-top: 20px;
  font-size: 30px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-left .header_title {
    margin-left: 20px;
    margin-top: 16px;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1087px) and (max-width: 767px) {
  header .h-inner .h-left .header_title {
    margin: 0;
  }
}

header .h-inner .h-right {
  margin-left: auto;
}

@media (max-width: 767px) {
  header .h-inner .h-right {
    display: none;
  }
}

header .h-inner .h-right .h-navs {
  padding-right: 30px;
}

header .h-inner .h-right .h-navs .h-nav {
  padding-right: 50px;
  display: inline-block;
  transition: all 0.5s ease-in-out 0s;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-right .h-navs .h-nav {
    padding-right: 15px;
  }
}

header .h-inner .h-right .h-navs .h-nav a {
  font-size: 13px;
}

header .h-inner .h-right .h-navs .dropdown {
  z-index: 200;
  display: none;
  background-color: #93612e;
  position: absolute;
  top: 65px;
  right: 0;
  width: 120px;
  padding: 10px 9px 10px 20px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-right .h-navs .dropdown {
    width: 74px;
  }
}

header .h-inner .h-right .h-navs .dropdown .d-item {
  width: 100%;
}

header .h-inner .h-right .h-navs .dropdown .d-item a {
  z-index: 200;
  color: #ebd6c7;
  display: block;
  padding: 10px 0;
}

@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-right .h-navs .dropdown .d-item a {
    font-size: 13px;
  }
}

.login_regist {
  font-size: 12px;
}

.logout {
  background-color: #93612e;
  color: #d6d6d6;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 0;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .logout {
    font-size: 12px;
    padding: 0;
  }
}

.payment {
  height: 700px;
  color: black;
  width: 80%;
  margin: 0 auto 5%;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .payment {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .payment {
    height: auto;
  }
}

.payment .p-inner {
  display: flex;
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .payment .p-inner {
    display: block;
  }
}

.payment .p-inner .l-pay {
  width: 50%;
  margin-left: 10%;
}

@media (max-width: 767px) {
  .payment .p-inner .l-pay {
    text-align: -webkit-center;
    margin-left: 0;
    width: 100%;
  }
}

.payment .p-inner .l-pay .p-table {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f2f2f2;
}

.payment .p-inner .l-pay .p-table th,
.payment .p-inner .l-pay .p-table td {
  border: 1px solid black;
  padding: 20px 10px;
  vertical-align: middle;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .payment .p-inner .l-pay .p-table th,
  .payment .p-inner .l-pay .p-table td {
    padding: 15px 10px;
  }
}

@media (max-width: 767px) {
  .payment .p-inner .l-pay .p-table th,
  .payment .p-inner .l-pay .p-table td {
    padding: 10px;
  }
}

.payment .p-inner .l-pay .a-table {
  border-collapse: collapse;
  background-color: #f2f2f2;
  width: 90%;
}

.payment .p-inner .l-pay .a-table th,
.payment .p-inner .l-pay .a-table td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 15px 20px;
  vertical-align: middle;
  text-align: left;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .payment .p-inner .l-pay .a-table th,
  .payment .p-inner .l-pay .a-table td {
    padding: 15px 10px;
  }
}

@media (max-width: 767px) {
  .payment .p-inner .l-pay .a-table th,
  .payment .p-inner .l-pay .a-table td {
    padding: 10px;
  }
}

.payment .p-inner .l-pay .w-pay {
  border: 1px solid black;
  width: 250px;
  text-align: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
}

@media (max-width: 767px) {
  .payment .p-inner .l-pay .w-pay {
    padding: 10px;
  }
}

.payment .p-inner .l-pay .sub-title h2 {
  font-size: 20px;
  margin: 20px 0;
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .payment .p-inner .l-pay .sub-title h2 {
    font-size: 18px;
    margin: 10px 0;
  }
}

@media (max-width: 767px) {
  .payment .p-inner .l-pay .sub-title h2 {
    margin: 30px 0 10px;
    font-size: 16px;
  }
}

.payment .p-inner .r-pay {
  width: 50%;
  padding-top: 57px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .payment .p-inner .r-pay {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .payment .p-inner .r-pay {
    padding-top: 40px;
    width: 100%;
    text-align: -webkit-center;
  }
}

.payment .p-inner .r-pay .r-decision {
  border: 1px solid black;
  width: auto;
  background-color: #f2f2f2;
  height: 270px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .payment .p-inner .r-pay .r-decision {
    width: 70%;
    height: 250px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .payment .p-inner .r-pay .r-decision {
    width: 45%;
    height: 180px;
  }
}

.payment .p-inner .r-pay .r-decision .total-p {
  padding-top: 70px;
  color: black;
  font-size: 30px;
  line-height: 35px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .payment .p-inner .r-pay .r-decision .total-p {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .payment .p-inner .r-pay .r-decision .total-p {
    padding-top: 20px;
    font-size: 22px;
  }
}

.span {
  font-size: 22px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .span {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .span {
    font-size: 17px;
  }
}

.content {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .content {
    margin-top: 20px;
  }
}

footer {
  height: 80px;
  background: #e5caae;
  color: #93612e;
}

@media (min-width: 768px) and (max-width: 1087px) {
  footer {
    height: 60px;
  }
}

@media (max-width: 767px) {
  footer {
    font-size: 20px;
  }
}

footer .f-container {
  display: flex;
  padding-top: 30px;
  margin-right: auto;
}

@media (min-width: 768px) and (max-width: 1087px) {
  footer .f-container {
    padding-top: 10px;
  }
}

footer .f-container .f-left {
  font-size: 20px;
  margin: 0 auto 0 80px;
  display: flex;
}

@media (min-width: 768px) and (max-width: 1087px) {
  footer .f-container .f-left {
    font-size: 15px;
    margin: 12px auto 0 90px;
  }
}

@media (max-width: 767px) {
  footer .f-container .f-left {
    font-size: 17px;
    margin: 3px auto 0 auto;
  }
}

footer .f-container .f-right li {
  display: inline-block;
}

footer .f-container .f-right li .fab {
  cursor: pointer;
}

.div_contact {
  text-align: center;
  margin: 0 80px 0 auto;
}

.input_contact {
  width: 100%;
  font-size: 19px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}
