
// Variables
@import 'variables';
$bg-base-color: #93612e;
$bg-sub-color: #e5caae;
//buttontext↓
$btn-base-color: #d6d6d6;
$font-base-color: #ebd6c7;
$font-sub-color: black;
$layout-width-inner: 1088px;

$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab-only": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  "tab": "(max-width: #{$layout-width-inner - 1px})",
  "pc": "(min-width: #{$layout-width-inner})"
);

@mixin mq($breakpoint: md) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

body {
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0;
  color: $font-base-color;
}
.title {
  color: $font-sub-color;
  margin: 60px 0;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  position: relative;
  &:after {
    content: "";
    top: 50px;
    left: 43%;
    background: $font-base-color;
    width: 250px;
    height: 2px;
    bottom: 0;
  }
}
.btn {
  margin-top: 20px;
  width: 30%;
  font-size: 19px;
  cursor: pointer;
  background-color: $bg-base-color;
  color: $btn-base-color;
}
a {
  text-decoration: none;
  color: $font-base-color;
}
//
//header
//
header {
  background: $bg-base-color;
  width: 100%;
  position: fiexd;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0, 5s ease-in-out 0s;
  .h-inner {
    display: flex;
    height: 110px;
    align-items: center;
    .h-left {
      margin-right: auto;
      margin-left: 95px;
      display: flex;
      img {
        width: 65px;
        height: 65px;
      }
      h2 {
        margin-left: 25px;
        margin-top: 20px;
        font-size: 30px;
      }
    }
    .h-right {
      margin-left: auto;
      .h-navs {
        // display: flex;
        padding-right: 30px;
        .h-nav {
          padding-right: 50px;
          display: inline-block;
          transition: all 0.5s ease-in-out 0s;
          // &:hover {
            // opacity: 0.9;
            // position: relative;
            // &:after {
            //   content: "";
            //   background: red;
            //   width: 85%;
            //   height: 5px;
            //   top: 20px;
            //   right: 34px;
            // }
        }
        .dropdown {
          z-index: 200;
          display:none;
          background-color:$bg-base-color;
          top:65px;
          right:0;
          width: 120px;
          padding: 10px 9px 10px 20px;
          .d-item{
            width: 100%;

            a{
              z-index: 200;
              color: $font-base-color;
              display: block;
              // color: $font-sub-color;
              padding: 10px 0;

              // margin: 5px -5px 5px 5px;
            }
          }
        }
      }
    }
  }
}
//
//mainvisual
//
//
//main
//
.side-main {
  overflow: hidden;
  color: $font-sub-color;
  display: flex;
  width: 100%;
  min-height: 500px;
  margin: 60px 0 95px 60px;
  .s-head {
    font-size: 25px;
    font-weight: bold;
  }
  a {
    color: $font-sub-color;
  }
  .s-container {
    width: 15%;
    .category {
      .s-search {
        font-size: 13px;
        padding-top: 10px;
        // text-align: center;
        li {
          margin: 15px 0 0 30px;
        }
      }
    }
    .ser-box {
      margin-top: 50px;
      input {
        margin: 35px 0 0 30px;
      }
    }
  }

  .m-container {
    width: 85%;
    // text-align: center;
    .items {
      // background: red;
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      .item {
        width: calc(20% - 14px * 3 / 4);
        padding: 15px;
        .p-body {
          margin-top: 20px;
        }
        .p-price {
          padding-top: 5px;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
    .more{
      margin-top: 13px;
      .display,
      .flex-1,
      .w-5,
      .h-5{
        display: none;
      }

    }
  }
}
footer {
  height: 80px;
  background: #e5caae;
  color: $bg-base-color;
  .f-container {
    display: flex;
    padding-top: 30px;
    margin-right: auto;
    .f-left {
      font-size: 20px;
      margin:0 auto 0 80px;
      display: flex;
    }
    .f-right li{
      display: inline-block;
      padding-right: 40px;
      .fab{
        cursor: pointer;
      }
    }
  }
}
.search_btn{
  // margin: 0;
    // margin-top: 5px;
    width: 20%;
    font-size: 15px;
    cursor: pointer;
    background-color: $bg-base-color;
    color: $btn-base-color;

}