@charset "UTF-8";
body {
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", "Yu Gothic Medium", "\6E38\30B4\30B7\30C3\30AF\4F53", "YuGothic", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku Gothic ProN", "\30E1\30A4\30EA\30AA", "Meiryo", "verdana", sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0;
  color: #ebd6c7;
}

.title {
  color: black;
  margin: 60px 0;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .title {
    font-size: 20px;
    margin: 32px 0;
  }
}
@media (max-width: 767px) {
  .title {
    margin: 15px 0;
    font-size: 20px;
  }
}

.btn {
  margin-top: 20px;
  width: auto;
  font-size: 19px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .btn {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: 12px;
    margin-top: 15px;
  }
}

a {
  text-decoration: none;
  color: #ebd6c7;
}

header {
  position: fixed;
  background: #93612e;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0, 5s ease-in-out 0s;
}
header .h-inner {
  display: flex;
  height: 110px;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner {
    height: 80px;
  }
}
@media (max-width: 767px) {
  header .h-inner {
    height: 60px;
  }
}
header .h-inner .h-left {
  margin-right: auto;
  margin-left: 75px;
  display: flex;
}
@media (max-width: 767px) {
  header .h-inner .h-left {
    margin-left: 10px;
    width: 100%;
  }
}
header .h-inner .h-left img {
  width: 65px;
  height: 65px;
}
@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-left img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  header .h-inner .h-left img {
    width: 45px;
    height: 45px;
  }
}
header .h-inner .h-left .header_title {
  margin-left: 25px;
  margin-top: 20px;
  font-size: 30px;
}
@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-left .header_title {
    margin-left: 20px;
    margin-top: 16px;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  header .h-inner .h-left .header_title {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
  }
}
header .h-inner .h-right {
  margin-left: auto;
}
header .h-inner .h-navs .h-nav {
  padding-right: 50px;
  display: inline-block;
  transition: all 0.5s ease-in-out 0s;
}
@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-navs .h-nav {
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  header .h-inner .h-navs .h-nav {
    margin-right: 70px;
    width: 100%;
    margin-bottom: 8px;
  }
}
header .h-inner .h-navs .h-nav a {
  font-size: 13px;
}
header .h-inner .h-navs .dropdown {
  z-index: 200;
  display: none;
  background-color: #93612e;
  position: absolute;
  top: 90px;
  right: -11px;
  width: 120px;
  padding: 10px 9px 10px 20px;
}
@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-navs .dropdown {
    right: 0px;
    width: 74px;
  }
}
header .h-inner .h-navs .dropdown .d-item {
  width: 100%;
}
header .h-inner .h-navs .dropdown .d-item a {
  z-index: 200;
  color: #ebd6c7;
  display: block;
  padding: 10px 0;
}
@media (min-width: 768px) and (max-width: 1087px) {
  header .h-inner .h-navs .dropdown .d-item a {
    font-size: 13px;
  }
}

.drawer-nav {
  z-index: 200px;
  background-color: #e5caae;
}

button.drawer-hamburger {
  display: none;
}
@media (max-width: 1087px) {
  button.drawer-hamburger {
    display: none;
  }
}
@media (max-width: 767px) {
  button.drawer-hamburger {
    display: block;
    z-index: 200px;
  }
}

.always {
  display: block;
}

@media (max-width: 767px) {
  .sp-hidden {
    visibility: hidden;
  }
}

.login_regist {
  font-size: 12px;
}

.logout {
  background-color: #93612e;
  color: #d6d6d6;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .logout {
    font-size: 12px;
  }
}

.d-logout {
  background-color: #e5caae;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.main {
  color: black;
  width: 100%;
  padding-top: 6%;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .main {
    margin-bottom: 3%;
    padding-top: 8%;
  }
}
@media (max-width: 767px) {
  .main {
    padding-top: 20%;
  }
}
.main .l-container {
  width: 50%;
  text-align: -webkit-right;
  margin-right: 10%;
}
@media (max-width: 767px) {
  .main .l-container {
    text-align: -webkit-center;
    margin-right: 0;
    width: 100%;
  }
}
.main .l-container .c-table {
  border-collapse: collapse;
  width: 80%;
  background-color: #f2f2f2;
}
.main .l-container th {
  font-weight: bold;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 20px 10px;
  vertical-align: middle;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .main .l-container th {
    padding: 20px 3px;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .main .l-container th {
    padding: 3px;
  }
}
.main .l-container td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 20px 10px;
  vertical-align: middle;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .main .l-container td {
    font-size: 10px;
    padding: 20px 4px;
  }
}
@media (max-width: 767px) {
  .main .l-container td {
    padding: 9px;
  }
}
@media (min-width: 768px) and (max-width: 1087px) {
  .main .l-container .delete input {
    font-size: 12px;
  }
}
.main .l-container .delete a {
  color: black;
  border: 1px solid black;
  padding: 3px 5px;
  background-color: white;
}
.empty_p {
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .empty_p {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .empty_p {
    margin: 0;
    text-align: center;
  }
}

.div_btn_in_cart {
  margin: 3% 0 0 11%;
}

.input_btn_in_cart {
  padding: 0 31px;
  margin-top: 30px;
  font-size: 19px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .input_btn_in_cart {
    padding: 0px 20px;
    margin-top: 25px;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .input_btn_in_cart {
    padding: 0 15px;
    margin: 10px auto;
    font-size: 15px;
    display: block;
  }
}

.input_btn_in_cart_emp {
  margin-top: 60px;
  padding: 0 31px;
  margin-top: 30px;
  font-size: 19px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}

.r-container {
  width: 50%;
}
@media (max-width: 767px) {
  .r-container {
    width: 100%;
    margin-top: 20px;
    text-align: -webkit-center;
  }
}
.r-container .r-box {
  width: 50%;
  height: auto;
  border: 1px solid black;
  background-color: #f2f2f2;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .r-container .r-box {
    width: 70%;
  }
}
.r-container .total-p {
  padding-top: 15%;
  font-size: 23px;
  font-weight: bold;
  line-height: 30px;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .r-container .total-p {
    font-size: 18px;
    padding-top: 8%;
  }
}

.message {
  color: red;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.flex_div {
  display: flex;
  margin-bottom: 5%;
  padding-top: 2%;
}
@media (max-width: 767px) {
  .flex_div {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1087px) {
  .next_btm {
    padding: 0px 35px;
    margin-top: 20px;
    font-size: 15px;
  }
}

.form {
  margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1087px) {
  .form a {
    display: block;
  }
}

footer {
  height: 80px;
  background: #e5caae;
  color: #93612e;
}
@media (min-width: 768px) and (max-width: 1087px) {
  footer {
    height: 60px;
  }
}
@media (max-width: 767px) {
  footer {
    font-size: 20px;
  }
}
footer .f-container {
  display: flex;
  padding-top: 25px;
  margin-right: auto;
}
@media (min-width: 768px) and (max-width: 1087px) {
  footer .f-container {
    padding-top: 10px;
  }
}
footer .f-container .f-left {
  font-size: 20px;
  margin: 5px auto 0 80px;
  display: flex;
}
@media (min-width: 768px) and (max-width: 1087px) {
  footer .f-container .f-left {
    font-size: 15px;
    margin: 12px auto 0 90px;
  }
}
@media (max-width: 767px) {
  footer .f-container .f-left {
    font-size: 17px;
    margin: 3px 40px 0;
  }
}
footer .f-container .f-right li {
  display: inline-block;
}
footer .f-container .f-right li .fab {
  cursor: pointer;
}

.div_contact {
  text-align: center;
  margin: 0 80px 0 auto;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .div_contact {
    margin: 5px 80px 0px auto;
  }
}
@media (max-width: 767px) {
  .div_contact {
    margin: 0 60px 0 auto;
  }
}

.input_contact {
  width: 100%;
  font-size: 19px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}
@media (min-width: 768px) and (max-width: 1087px) {
  .input_contact {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .input_contact {
    font-size: 14px;
  }
}

.div_price {
  margin-top: 30px;
}