@charset "UTF-8";
body {
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", "Yu Gothic Medium", "\6E38\30B4\30B7\30C3\30AF\4F53", "YuGothic", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Hiragino Kaku Gothic ProN", "\30E1\30A4\30EA\30AA", "Meiryo", "verdana", sans-serif;
  font-size: 16px;
  width: 100%;
  margin: 0;
  color: #ebd6c7;
}

.title {
  color: black;
  margin: 60px 0;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  position: relative;
}
.title:after {
  content: "";
  top: 50px;
  left: 43%;
  background: #ebd6c7;
  width: 250px;
  height: 2px;
  bottom: 0;
}

.btn {
  margin-top: 20px;
  width: 30%;
  font-size: 19px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}

a {
  text-decoration: none;
  color: #ebd6c7;
}

header {
  background: #93612e;
  width: 100%;
  position: fiexd;
  left: 0;
  top: 0;
  z-index: 100;
  transition: all 0, 5s ease-in-out 0s;
}
header .h-inner {
  display: flex;
  height: 110px;
  align-items: center;
}
header .h-inner .h-left {
  margin-right: auto;
  margin-left: 95px;
  display: flex;
}
header .h-inner .h-left img {
  width: 65px;
  height: 65px;
}
header .h-inner .h-left h2 {
  margin-left: 25px;
  margin-top: 20px;
  font-size: 30px;
}
header .h-inner .h-right {
  margin-left: auto;
}
header .h-inner .h-right .h-navs {
  padding-right: 30px;
}
header .h-inner .h-right .h-navs .h-nav {
  padding-right: 50px;
  display: inline-block;
  transition: all 0.5s ease-in-out 0s;
}
header .h-inner .h-right .h-navs .dropdown {
  z-index: 200;
  display: none;
  background-color: #93612e;
  top: 65px;
  right: 0;
  width: 120px;
  padding: 10px 9px 10px 20px;
}
header .h-inner .h-right .h-navs .dropdown .d-item {
  width: 100%;
}
header .h-inner .h-right .h-navs .dropdown .d-item a {
  z-index: 200;
  color: #ebd6c7;
  display: block;
  padding: 10px 0;
}

.side-main {
  overflow: hidden;
  color: black;
  display: flex;
  width: 100%;
  min-height: 500px;
  margin: 60px 0 95px 60px;
}
.side-main .s-head {
  font-size: 25px;
  font-weight: bold;
}
.side-main a {
  color: black;
}
.side-main .s-container {
  width: 15%;
}
.side-main .s-container .category .s-search {
  font-size: 13px;
  padding-top: 10px;
}
.side-main .s-container .category .s-search li {
  margin: 15px 0 0 30px;
}
.side-main .s-container .ser-box {
  margin-top: 50px;
}
.side-main .s-container .ser-box input {
  margin: 35px 0 0 30px;
}
.side-main .m-container {
  width: 85%;
}
.side-main .m-container .items {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}
.side-main .m-container .items .item {
  width: calc(20% - 14px * 3 / 4);
  padding: 15px;
}
.side-main .m-container .items .item .p-body {
  margin-top: 20px;
}
.side-main .m-container .items .item .p-price {
  padding-top: 5px;
  font-size: 20px;
  font-weight: bold;
}
.side-main .m-container .more {
  margin-top: 13px;
}
.side-main .m-container .more .display,
.side-main .m-container .more .flex-1,
.side-main .m-container .more .w-5,
.side-main .m-container .more .h-5 {
  display: none;
}

footer {
  height: 80px;
  background: #e5caae;
  color: #93612e;
}
footer .f-container {
  display: flex;
  padding-top: 30px;
  margin-right: auto;
}
footer .f-container .f-left {
  font-size: 20px;
  margin: 0 auto 0 80px;
  display: flex;
}
footer .f-container .f-right li {
  display: inline-block;
  padding-right: 40px;
}
footer .f-container .f-right li .fab {
  cursor: pointer;
}

.search_btn {
  width: 20%;
  font-size: 15px;
  cursor: pointer;
  background-color: #93612e;
  color: #d6d6d6;
}